<!DOCTYPE html>
    <html>
    <head>
    <title>教务管理平台·主页</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'media/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'media/css/vendor.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'media/css/flat-admin.css' %}">

    <!-- Theme -->
    <link rel="stylesheet" type="text/css" href="{% static 'media/css/blue-sky.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'media/css/blue.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'media/css/red.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'media/css/yellow.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1347375_rw5tk45yi4.css">
    <script type='text/javascript' src="{% static 'media/js/jquery.js' %}"></script>
    <script type='text/javascript' src="{% static 'media/js/vendor.js' %}"></script>
    <script type='text/javascript' src="{% static 'media/js/app.js' %}"></script>

    </head>
    <body>
    <div class="app app-default">

    <aside class="app-sidebar" id="sidebar">
    <div class="sidebar-header">
        <a class="sidebar-brand" href="/"><span class="highlight">教务</span>管理平台</a>
        <button type="button" class="sidebar-toggle">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <div class="sidebar-menu">
        <ul class="sidebar-nav">
        <li class="active">
            <a href="/">
            <div class="icon">
                <i class="iconfont icon-home" style="font-size: 40px"></i>
            </div>
            <div class="title">主页</div>
            </a>
        </li>
        <li class="@@menu.messaging">
            <a href="/upload/">
            <div class="icon">
                <i class="iconfont icon-upload" style="font-size: 40px"></i>
            </div>
            <div class="title">上传文件</div>
            </a>
        </li>
        <li class="@@menu.messaging">
            <a href="/Filelibrary/">
                <div class="icon">
                    <i class="iconfont icon-folder" style="font-size: 40px"></i>
                </div>
                <div class="title">文件库</div>
            </a>
        </li>
        
        <li class="dropdown ">
            <a href="#">
                <div class="icon">
                    <i class="iconfont icon-message" style="font-size: 40px"></i>
                </div>
                <div class="title">留言</div>
            </a>
            <div class="dropdown-menu">
                <ul>
                    <li><a href="/message/">查看留言</a></li>
                    <li><a href="/edmessage/">编辑留言</a></li>
                </ul>
            </div>
        </li>
        <li class="@@menu.messaging">
            <a href="/Mycurriculum/">
                <div class="icon">
                    <i class="iconfont icon-file" style="font-size: 40px"></i>
                </div>
                <div class="title">课程表</div>
            </a>
        </li>
        <li class="@@menu.messaging">
            <a href="/notice/">
                <div class="icon">
                    <i class="iconfont icon-mail" style="font-size: 40px"></i>
                </div>
                <div class="title">通知</div>
            </a>
        </li>
        <li class="@@menu.messaging">
            <a href="/news/">
                <div class="icon">
                    <i class="iconfont icon-browser" style="font-size: 40px"></i>
                </div>
                <div class="title">新闻</div>
            </a>
        </li>
        </ul>
    </div>
    <div class="sidebar-footer">
        <ul class="menu">
        <li>
            <a href="/" class="dropdown-toggle">
            <i class="fa fa-cogs" aria-hidden="true"></i>
            </a>
        </li>
        <li><a href="#"><span class="flag-icon flag-icon-th flag-icon-squared"></span></a></li>
        </ul>
    </div>
    </aside>

    <script type="text/ng-template" id="sidebar-dropdown.tpl.html">
    <div class="dropdown-background">
        <div class="bg"></div>
    </div>
    <div class="dropdown-container">
        {{list}}
    </div>
    </script>
    <div class="app-container">

    <nav class="navbar navbar-default" id="navbar">
    <div class="container-fluid">
        <div class="navbar-collapse collapse in">
        <ul class="nav navbar-nav navbar-mobile">
            <li>
            <button type="button" class="sidebar-toggle">
                <i class="fa fa-bars"></i>
            </button>
            </li>
            <li class="logo">
            <a class="navbar-brand" href="#"><span class="highlight">教务</span>管理平台</a>
            </li>
            <li>
            <button type="button" class="navbar-toggle">
                <img class="profile-img" src="">
            </button>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if username == '' and is_staff == False %}
            <li><a href="/login">登陆</a></li>
            <li><a href="/register">注册</a></li>
            {% elif is_staff == True %}
            <li class="dropdown profile">
                <a href="/xadmin">{{ username }}</a>
                <div class="dropdown-menu">
                    <div class="profile-info">
                        <h4 class="username">{{ username }}</h4>
                    </div>
                    <ul class="action">
                        <li>
                            <a href="#">Profile</a>
                        </li>
                        <li>
                            <a href="#"><span class="badge badge-danger pull-right">5</span>My Inbox</a>
                        </li>
                        <li>
                            <a href="#">Setting</a>
                        </li>
                        <li>
                            <a href="/loginout">退出登陆</a>
                        </li>
                    </ul>
                    </div>
            </li>

            {% elif is_staff == False %}
            <li class="dropdown profile">
                <a href="/personinfo/">{{ username }}</a>
                <div class="dropdown-menu">
                    <div class="profile-info">
                        <h4 class="username">{{ username }}</h4>
                    </div>
                    <ul class="action">
                        <li>
                            <a href="#">Profile</a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="badge badge-danger pull-right">5</span>My Inbox</a>
                        </li>
                        <li>
                            <a href="#">Setting</a>
                        </li>
                        <li>
                            <a href="/loginout">退出登陆</a>
                        </li>
                    </ul>
                </div>
            </li>
                    
            <li class="dropdown notification">
                <a href="/news/" class="dropdown-toggle">
                    <div class="icon">
                        <i class="iconfont icon-browser" style="font-size: 32px"></i>
                    </div>
                    <div class="title">New Orders</div>
                    <div class="count">{{ newcount }}</div>
                </a>
                <div class="dropdown-menu">
                    <ul>
                         
                        <li class="dropdown-header">最新新闻</li>
                        <li class="dropdown-empty">{{ somenew.news_content }}</li>
                        <li class="dropdown-footer">
                            <a href="/news/">查看全部新闻</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="dropdown notification warning">
                <a href="/notice/" class="dropdown-toggle">
                    <div class="icon">
                        <i class="iconfont icon-mail" style="font-size: 32px"></i>
                    </div>
                    <div class="title">Unread Messages</div>
                    <div class="count">{{ noticecount }}</div>
                </a>
                <div class="dropdown-menu">
                    <ul>
                        <li class="dropdown-header">最新通知</li>
                        <li>
                            <a href="#">
                                <div class="message">
                                    <div class="content">
                                        <div class="title">{{ somenotice.p_content }}</div>
                                        <div class="description">{{ somenotice.p_name }}</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="dropdown-footer">
                            <a href="/notice/">查看所有通知</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="dropdown notification danger">
                <a href="/message/" class="dropdown-toggle">
                    <div class="icon">
                        <i class="iconfont icon-message" style="font-size: 32px"></i>
                    </div>
                    <div class="count">{{ messageself }}</div>
                </a>
                <div class="dropdown-menu">
                    <ul>
                        <li class="dropdown-header">最新消息</li>
                        <li>
                            <a href="#">
                                <div class="message">
                                <div class="content">
                                    {% if useridtype == '0' %}
                                    <div class="title">{{ somemessage.s_name }}</div>
                                    {% else %}
                                    <div class="title">{{ somemessage.t_name }}</div>
                                    {% endif %}
                                    <div class="description">{{ somemessage.content }}</div>
                                </div>
                                </div>
                            </a>
                        </li>
                        <li class="dropdown-footer">
                            <a href="/message/">查看所有消息</a>
                        </li>
                    </ul>
                </div>
            </li>
                
            {% endif %}
        </ul>
        </div>
    </div>
    </nav>

    <div class="btn-floating" id="help-actions">
    <div class="btn-bg"></div>
    <button type="button" class="btn btn-default btn-toggle">
        <i class="icon fa fa-plus"></i>
        <span class="help-text">Shortcut</span>
    </button>
    <div class="toggle-content">
        <ul class="actions">
        <li><a href="upload/">上传文件</a></li>
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Issues</a></li>
        <li><a href="#">About</a></li>
        </ul>
    </div>
    </div>

    <div class="row">
    <div class="col-xs-12">
        <div class="card card-banner card-chart card-green no-br">
        <div class="card-header">
            <div class="card-title">
            <div class="title">Top Sale Today</div>
            </div>
        </div>
        <div class="card-body">
            <div class="ct-chart-sale"></div>
        </div>
        </div>
    </div>
    </div>
    <div class="tlinks">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
    <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <a class="card card-banner card-green-light">
    <div class="card-body">
        <i class="icon fa fa-shopping-basket fa-4x"></i>
        <div class="content">
        <div class="title">Sale Today</div>
        <div class="value"><span class="sign">$</span>420</div>
        </div>
    </div>
    </a>

    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <a class="card card-banner card-blue-light">
    <div class="card-body">
        <div class="content">
        <div class="title">Page Likes</div>
        <div class="value"><span class="sign"></span>2453</div>
        </div>
    </div>
    </a>

    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <a class="card card-banner card-yellow-light">
    <div class="card-body">
        <i class="icon fa fa-user-plus fa-4x"></i>
        <div class="content">
        <div class="title">New Registration</div>
        <div class="value"><span class="sign"></span>50</div>
        </div>
    </div>
    </a>

    </div>
    </div>

    <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card card-mini">
        <div class="card-header">
            <div class="card-title">Last Statuses</div>
            <ul class="card-action">
            <li>
                <a href="/">
                <i class="fa fa-refresh"></i>
                </a>
            </li>
            </ul>
        </div>
        <div class="card-body no-padding table-responsive">
            <table class="table card-table">
            <thead>
                <tr>
                <th>Products</th>
                <th class="right">Amount</th>
                <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>MicroSD 64Gb</td>
                <td class="right">12</td>
                <td><span class="badge badge-success badge-icon"><i class="fa fa-check" aria-hidden="true"></i><span>Complete</span></span></td>
                </tr>
                <tr>
                <td>MiniPC i5</td>
                <td class="right">5</td>
                <td><span class="badge badge-warning badge-icon"><i class="fa fa-clock-o" aria-hidden="true"></i><span>Pending</span></span></td>
                </tr>
                <tr>
                <td>Mountain Bike</td>
                <td class="right">1</td>
                <td><span class="badge badge-info badge-icon"><i class="fa fa-credit-card" aria-hidden="true"></i><span>Confirm Payment</span></span></td>
                </tr>
                <tr>
                <td>Notebook</td>
                <td class="right">10</td>
                <td><span class="badge badge-danger badge-icon"><i class="fa fa-times" aria-hidden="true"></i><span>Cancelled</span></span></td>
                </tr>
                <tr>
                <td>Raspberry Pi2</td>
                <td class="right">6</td>
                <td><span class="badge badge-primary badge-icon"><i class="fa fa-truck" aria-hidden="true"></i><span>Shipped</span></span></td>
                </tr>
                <tr>
                <td>Flashdrive 128Mb</td>
                <td class="right">40</td>
                <td><span class="badge badge-info badge-icon"><i class="fa fa-credit-card" aria-hidden="true"></i><span>Confirm Payment</span></span></td>
                </tr>
            </tbody>
            </table>
        </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card card-tab card-mini">
        <div class="card-header">
            <ul class="nav nav-tabs tab-stats">
            <li role="tab1" class="active">
                <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Browsers</a>
            </li>
            <li role="tab2">
                <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">OS</a>
            </li>
            <li role="tab2">
                <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">More</a>
            </li>
            </ul>
        </div>
        <div class="card-body tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab1">
            <div class="row">
                <div class="col-sm-8">
                </div>
                <div class="col-sm-4">
                <ul class="chart-label">
                    <li class="ct-label ct-series-a">Google Chrome</li>
                    <li class="ct-label ct-series-b">Firefox</li>
                    <li class="ct-label ct-series-c">Safari</li>
                    <li class="ct-label ct-series-d">IE</li>
                    <li class="ct-label ct-series-e">Opera</li>
                </ul>
                </div>
            </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab2">
                <div class="row">
                    <div class="col-sm-8">
                    </div>
                    <div class="col-sm-4">
                    <ul class="chart-label">
                        <li class="ct-label ct-series-a">iOS</li>
                        <li class="ct-label ct-series-b">Android</li>
                        <li class="ct-label ct-series-c">Windows</li>
                        <li class="ct-label ct-series-d">OSX</li>
                        <li class="ct-label ct-series-e">Linux</li>
                    </ul>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab3"></div>
        </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    {% if messages %}

				<ul class="messages" style="width: 300px; height: 250px; background-color: #fff;border: 1px solid #000;border-radius: 8px; position: fixed; z-index: 999; top: 350px; left: 800px; padding: 18px;">
			
				{% for message in messages %}
					
					<li {%if message.tags %} class="{{ message.tags }}"{% endif %} style="overflow: hidden; display: flex; flex-direction: column; justify-content:space-between;">
						<span style="float: left; font-size: 28px; color: #DE0000;">提示：</span>
						<div id="m_box" style="font-size: 20px; text-align: center; margin-top: 40px;">
							{{ message }}
						</div>
						<a href="/" style="margin:80px auto;">
							<button id="button_sure">确认</button>
						</a>
						
					</li>
			
				{% endfor %}
			
				</ul>
			
				{% endif %}
    </body>
    <script>
        $('li.dropdown.notification a.dropdown-toggle').each(function(i){
            $('li.dropdown.notification a.dropdown-toggle').eq(i).mouseenter(function(){
                $('li.dropdown.notification a.dropdown-toggle').eq(i).children('.count').remove();
            })
        });
    </script>
    </html>